.telegram {
    background-image: url('./assets/telegram.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.viber {
    background-image: url('./assets/viber.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.whatsapp {
    background-image: url('./assets/whatsapp.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.redBall {
    background-image: url('./assets/red\ ball.svg');
    background-repeat: no-repeat;
    filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25))blur(1px);

    left: 40%;
    top: -4%;
    width: 100px;
    height: 100px;
}

.redBallSm {
    background-image: url('./assets/red\ ball\ \(sm\).svg');
    background-repeat: no-repeat;
    filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25))blur(2.5px);

    left: 58%;
    bottom: 16%;
    width: 65px;
    height: 54px;
}

.purpleBall {
    background-image: url('./assets/purple\ ball.svg');
    background-repeat: no-repeat;
    filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25)) blur(2.5px);

    left: 60%;
    top: 0;
    width: 82px;
    height: 67px;
}

.redBall,
.redBallSm,
.purpleBall {
    position: absolute;
    z-index: -1;
}

.viber:hover,
.whatsapp:hover,
.telegram:hover {
    cursor: pointer;
    transition: all 0.5s;
    scale: 1.7;
}

@media screen and (max-width: 900px) {
    .redBall {
        left: 10%;
        top: auto;
        bottom: 0;
        width: 43px;
        height: 43px;
        background-size: contain;
    }

    .redBallSm {
        left: auto;
        right: 0;
        bottom: 37%;
    }
}